body {
    background-color: #ddd;
    margin: 24px;
    font-family: sans-serif;
    display:flex; 
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
}
div{
    margin: auto;
    align-items: center;
}
h1{
    text-align: center;
}
.timer{
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: #fff;
}
.part{
    font-size: 36px;
    font-weight: bold;
}
.btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border: none;
    color: #fff;
    background: #8208e6;
    cursor: pointer;
}
.start{
    background: #00b84c;
}
.stop{
    background: #ff0256;
}
